{% load static %} 

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basurero</title>
    <style>
        /* CSS para el fondo de pantalla completo */
        body, html {
            height: 100%;
            margin: 0; /* Elimina el margen predeterminado del body */
            font-family: Arial, sans-serif;
            text-align: center;
        }

    </style>
</head>
<body>
	<div class="containter">
        <img src="{% static 'pastapp/img/cover.jpg' %}" alt="image" style="width: 100%;">
    </div>

</body>
</html>