{% load static %} 
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Past Verbs</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  
  <style>
    body {
        font-family: 'Roboto', sans-serif;
    }
  </style>

</head>
<body>
    <div class="container mt-5">
        <header style="text-align: center;">
          <a href="past.html"><i class="fas fa-home fa-2x" style="color: black;"></i></a>
        </header>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-12 text-center">
                <h1>Past Verbs</h1>
                <form>
                    <fieldset class="form-group" id="group" name="group" style="display:none">
                        <legend>Select the groups:</legend>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="Group 1" value="Group 1" name="group">
                            <label class="form-check-label" for="Group 1">Group 1</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="Group 2" value="Group 2" name="group">
                            <label class="form-check-label" for="Group 2">Group 2</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="Group 3" value="Group 3" name="group">
                            <label class="form-check-label" for="Group 3">Group 3</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="Group 4" value="Group 4" name="group">
                            <label class="form-check-label" for="Group 4">Group 4</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="Group 5" value="Group 5" name="group">
                            <label class="form-check-label" for="Group 5">Group 5</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="Group 6" value="Group 6" name="group">
                            <label class="form-check-label" for="Group 6">Group 6</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="Group 6" value="Group 6" name="group">
                            <label class="form-check-label" for="Group 6">Regulars</label>
                        </div>
                    </fieldset>
                    <div class="mt-3">
                        <button id="start" type="button" class="btn btn-primary my-2" onclick="startGame()" style="display: block;margin: auto;margin-top: 50px;margin-bottom: 20px;">Start</button>
                        <button id="restart" type="button" class="btn btn-danger my-2" onclick="location.reload()" style="display:none;margin: auto;margin-top: 50px;margin-bottom: 20px;">Restart</button>
                        <div id="sinCheck" class="alert alert-danger" role="alert" style="display:none;margin-top:25px">Select the groups!</div>
                    </div>
                </form>
                <div id="game" class="mt-6 text-center mx-auto" style="border: 2px solid black;padding: 20px;margin: 20px;width:50%;text-align: -webkit-center;display:none">
                    <fieldset class="form-group">
                        <legend>Present:</legend>
                        <legend id="present"></legend>
                        <h6 style="color:blueviolet" id="description"></h6>
                    </fieldset>
                    <fieldset class="form-group" id="buttons" style="text-align: -webkit-center;">
                        <legend>Past:</legend>
                        <input type="text" class="form-control" id="past" name="past" autocomplete="off" style="width:50%;" required>
                        <label type="text" class="text-success" id="viewCorrect" style="display:none;width:50%;margin:5px"></label>
                        <div style="margin-top:25px">
                            <button type="button" class="btn btn-success my-2" onclick="checkAnswer()" id="nextBtn" style="display: block;margin: auto;margin-top: 25px;margin-bottom: 20px;">Check</button>
                            <button type="button" class="btn btn-secondary my-2" onclick="viewAnswer()" id="viewAnswer" style="display:none;margin: auto;margin-top: 25px;margin-bottom: 20px;">View Answer</button>
                        </div>
                        <div id="popupResult" style="text-align:center;display:none;margin-top:5px">
                            <img src="{% static 'pastapp/img/incorrect.jpg' %}" alt="Gif" style="height: 250px; width: 250px; ">
                        </div>
                        <div id="popupResultCorrect" style="text-align:center;display:none;margin-top:5px">
                            <img src="{% static 'pastapp/img/correct.jpg' %}" alt="Gif" style="height: 250px; width: 250px; ">
                        </div>
                        <div id="result" class="alert alert-success" role="alert" style="display:none;margin-top:25px"></div>
                        <div id="alertInput" class="alert alert-danger" role="alert" style="display:none;margin-top:25px"></div>
                        <label id="correct-answers" style="text-align:center; display:none"></label>
                    </fieldset>
                </div>
                <h5 id="status" style="text-align:center; display:none"></h5>
                <!--<h5 id="score" style="text-align:center; display:none">Score: 0</h5>-->
                <h2 id="finishText" style="text-align:center; display:none"></h2>
                <h4 id="incorrect" style="text-align:center; display:none"></h4>
                <div id="popupFinish" style="text-align:center;display:none">
                    <img src="{% static 'pastapp/img/finish.gif' %}" alt="Gif" style="height: 75%; ">
                </div>
            </div>
        </div>
    </div>    
    <script src="{% static 'pastapp/js/past.js' %}"></script>
</body>
</html>

